.form-group-custom {
    /* mb.5rem */
    margin-bottom: 0.5rem;
}

.form-group-custom label {
    /* mb0 */
    margin-bottom: 0;
}

.form-group-custom .form-control {
    /* h1.8rem */
    height: 1.8rem;
    padding-top: .2rem;
}

#user_form {
    /* mb1rem */
    margin-bottom: 1rem;
}

.alert {
    transition: all .5s;
    opacity: 0;
    /* display: none; */
}

.alert.show {
    opacity: 1;
    /* display: block; */
}